/* Skip Nav */
#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: 0.5em;
  border: 1px blue dashed;
  color: #ff8000;
}

.main-text {
  padding-bottom: 1em;
}

/* items/show gallery */
#image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: last;
}
#image-gallery .image img {
  width: 100%;
}
#image-gallery .image {
  padding: 5px 10px 5px 0px;
  width: calc(10% - 10px);
}
@media all and (max-width: 700px) {
  #image-gallery .image {
    width: calc(20% - 10px);
  }
}
#image-gallery .image.fullsize {
  flex-grow: 1;
  width: 100%;
  display: block;
  padding: 0;
}
.pswp__caption__center {
  text-align: center !important;
  max-width: 600px !important;
}

/* Search toggle */
header .search-container input#query {
  width: 100%;
}
header .search-container #advanced-form {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media all and (max-width: 700px) {
  header .search-container #advanced-form {
    flex-direction: column;
  }
}
header .search-container .simple-search-inner form {
  display: flex;
}
header .search-container .simple-search-inner form input {
  margin-right: 0.5em;
}
header .search-container .advanced-search-inner form {
}
header .search-container .advanced-search-inner input#query {
  margin-bottom: 1em;
}
header .search-container #advanced-form fieldset {
  flex-grow: 1;
}
header .search-container {
  position: absolute;
  left: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  background: #ccc;
  border: 1px solid #ccc;
  width: 100%;
  padding: 1em;
  transition: all linear 0s;
}
header .search-container.open {
  height: auto;
  opacity: 1;
  z-index: 1;
}

/* Admin Bar tweak */
#admin-bar li {
  padding-right: 0.75em;
}
#admin-bar a {
  padding: 2px 5px;
  border-radius: 2px;
}
#admin-bar a.highlight {
  background: rgba(0, 0, 0, 0.5);
}

/* Nav */
#nav-container a {
  text-decoration: none;
}
#nav-container {
  padding: 0 1em;
  background: #ccc;
}
nav#top-nav {
  display: flex;
  justify-content: flex-end;
}
nav#top-nav ul.navigation {
  flex-grow: 1;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-self: center;
}
.sometimes-show-menu #menu-button {
  display: none;
}
@media all and (max-width: 700px) {
  nav#top-nav ul.navigation {
    display: none;
  }
  .sometimes-show-menu #menu-button {
    display: inline-block;
  }
}
nav#top-nav ul.navigation ul {
  display: none;
  background: #000;
  list-style-type: none;
  padding: 0 0 0 0;
  position: absolute;
  top: initial;
  margin-left: -10px;
  margin-top: 10px;
}
nav#top-nav ul.navigation li:hover a {
  color: #fff;
}
nav#top-nav ul.navigation li:hover {
  background: #000;
  cursor: pointer;
}
nav#top-nav ul.navigation li:hover > ul,
nav#top-nav ul.navigation li ul:hover > li {
  display: block;
}

nav#top-nav ul.navigation > li {
  padding: 10px;
}
nav#top-nav ul.navigation > li > ul > li {
  padding: 10px;
  margin: 0;
}
nav#top-nav .menu-icons {
  align-self: center;
}

/* Header/Footer */
header,
footer {
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
}

footer > div {
  padding: 1em;
}

#site-title {
  padding: 1em;
}

/* Content */
article#content {
  margin: 0 auto;
  background-color: #fafafa;
}
article#content > div,
article#content > nav {
  padding: 1em;
}
#secondary {
  background-color: #eaeaea;
  padding: 1em;
}

/* Metadata */
#full-metadata-record {
  padding: 0 !important;
  width: 100%;
}
#full-metadata-record .meta-container-inner {
  background: #eaeaea;
  width: 100%;
  padding: 1em;
}
#full-metadata-record.interactive .meta-container-inner {
  display: none;
}
#full-metadata-record.interactive .meta-container-inner.open {
  display: block;
}
#full-metadata-record.interactive::before {
  content: attr(data-button-label) " \25BC";
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
#full-metadata-record.interactive.up::before {
  content: attr(data-button-label-hide) " \25B2";
}

/* Banner */
#banner-container {
  display: block;
  text-align: center;
}

/* Pagination */
.pagination,
.item-pagination {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

/* Image Tags */

#tag-image-gallery .tag-title {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  display: ;
  padding: 5px;
  color: #fff;
}

#tag-image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#tag-image-gallery .tag-image-container {
  padding: 5px;
}

#tag-image-gallery .tag-image {
  display: block;
  padding-top: 150px;
  background-color: #000;
  width: 200px;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}
