/* Skip Nav */
#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: 0.5em;
  border: 1px blue dashed;
  color: #ff8000;
}

/* Admin Bar tweak */
#admin-bar li {
  padding-right: 0.75em;
}
#admin-bar a {
  padding: 2px 5px;
  border-radius: 2px;
}
#admin-bar a.highlight {
  background: rgba(0, 0, 0, 0.5);
}

/* Header/Footer */
header,
footer {
  background-color: #eaeaea;
  margin: 0;
  padding: 1em;
}

/* Content */
article#content {
  margin: 0 auto;
  background-color: #fafafa;
}
article#content > div,
article#content > nav {
  padding: 1em;
}
#secondary {
  background-color: #eaeaea;
  padding: 1em;
}

/* Banner */
#banner-container {
  display: block;
  text-align: center;
}

/* Pagination */
.pagination,
.item-pagination {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}
